src/test/java/com/acgnu/origin/MyPets.dtd

<!ELEMENT pets (dogs, cats)>
<!ELEMENT dogs (dog*)>
<!ELEMENT cats (cat+)>
<!ELEMENT dog (name, health, love, strain?)>
<!ATTLIST dog id CDATA #REQUIRED>
<!ELEMENT cat (name, health, love, sex)>
<!ATTLIST cat id CDATA #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT health (#PCDATA)>
<!ELEMENT love (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT love (#PCDATA)>